@charset "UTF-8";
body {
  padding-top: 1em;
  background-image: url("../img/bg.jpg");
  font-family: 'Open Sans', sans-serif; }

h1, .h1 {
  font-size: 2.1rem; }

section, .section {
  margin-top: 1em;
  margin-bottom: 1em; }

.btn-primary {
  color: white;
  background: #00aeef;
  border-color: #00aeef; }
  .btn-primary:hover {
    background-color: rgba(0, 174, 239, 0.3);
    color: #00aeef;
    border-color: #00aeef; }

.btn-outline-primary {
  color: #00aeef;
  border-color: #00aeef; }
  .btn-outline-primary:hover {
    background-color: #ccc;
    color: #00aeef;
    border-color: #00aeef; }
  .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #b3b3b3;
    color: #00aeef; }

.btn-secondary {
  color: white;
  background: #ffb400;
  border-color: #ffb400; }
  .btn-secondary:hover {
    background-color: rgba(255, 180, 0, 0.2);
    color: #ffb400;
    border-color: #ffb400; }

.btn-light {
  background: white;
  border-color: white; }
  .btn-light:hover {
    background: rgba(255, 255, 255, 0.5);
    border-color: white; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-wrap {
  overflow-x: hidden; }

.slick-prev {
  left: 10px; }

.slick-next {
  right: 10px; }

.slick-prev, .slick-next {
  z-index: 9999; }

.slick-dots {
  bottom: 10px;
  z-index: 999; }

#menu, #slider {
  margin: 3em 0; }

.menu-view {
  padding: 0; }
  .menu-view-btn {
    width: 100%;
    font-weight: bold; }
    .menu-view-btn svg {
      vertical-align: text-bottom;
      fill: white;
      width: 1.375rem; }

.lista-categoria {
  padding-left: 0;
  margin: 0;
  display: none;
  margin-top: 0.625rem; }
  .lista-categoria li {
    display: inline-block;
    margin: 0 0 1em;
    color: yellow; }
    .lista-categoria li ~ li {
      margin-left: 0.3125rem; }
  .lista-categoria a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase; }

.search-row {
  display: none;
  margin-top: 0.625rem; }

.abre-busca svg {
  width: 1.25rem;
  vertical-align: sub; }

.searchform {
  background: #ffb400;
  border-radius: .25rem;
  padding: .5rem;
  display: flex;
  justify-content: center; }
  .searchform .input-busca {
    width: 80%; }
  .searchform #searchsubmit {
    font-weight: bold;
    margin-left: .5rem; }

.eventos-wrap {
  flex-wrap: wrap;
  justify-content: flex-start; }

.card-evento {
  background: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid white; }
  .card-evento .card-header {
    padding: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative; }
    .card-evento .card-header:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
      /* IE6-9 */ }
  .card-evento .evento-data-local {
    position: absolute;
    bottom: 0;
    padding: 0.3rem 0.5rem; }
    .card-evento .evento-data-local .h1, .card-evento .evento-data-local p {
      margin-bottom: 0; }
  .card-evento .evento-title {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 1.7rem;
    text-shadow: 1px 1px 0px black; }
  .card-evento .texto-comum {
    color: white;
    font-size: 1.0625rem;
    text-shadow: 1px 1px 0px black; }
  .card-evento .evento-thumb {
    width: 100%;
    height: 66.66667%;
    border: 1px solid white; }
  .card-evento .cta-evento {
    padding: .5em .1em .1rem;
    justify-content: space-around; }
    .card-evento .cta-evento > .btn {
      padding: .375rem;
      white-space: initial;
      margin-bottom: 0.4rem;
      display: block; }
  .card-evento .card-footer {
    background: transparent;
    border: 0;
    padding: 0 .5rem .5rem;
    position: relative; }
    .card-evento .card-footer .link-tag {
      list-style-type: none;
      padding-inline-start: 0;
      margin-bottom: 0;
      overflow-x: scroll; }
      .card-evento .card-footer .link-tag:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 30px;
        top: 0;
        right: 0;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, white 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, white 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, white 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffffff',GradientType=1 );
        /* IE6-9 */ }
      .card-evento .card-footer .link-tag::-webkit-scrollbar {
        display: none; }
      .card-evento .card-footer .link-tag li {
        display: inline;
        white-space: pre; }
      .card-evento .card-footer .link-tag li ~ li:before {
        content: "•";
        margin: 0 .2rem; }
    .card-evento .card-footer .link-tag-item {
      color: black;
      text-decoration: underline;
      font-weight: 600; }

.btn-nav--wrap {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .btn-nav--wrap .btn-nav {
    font-weight: 700; }

.nav-previous a svg, .nav-next a svg {
  fill: white;
  width: 1.25rem;
  vertical-align: middle; }

footer {
  background-color: #191b1d;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }
  footer p {
    color: white;
    margin: 0; }

@media screen and (min-width: 728px) {
  h1, .h1 {
    font-size: 2.5rem; }
  .lista-categoria li {
    margin: 0 .2em; }
  .eventos-wrap {
    padding: 0; }
  .card-evento {
    width: calc(50% - 8px); }
    .card-evento:nth-child(even) {
      margin-left: 0.5rem; }
    .card-evento:nth-child(odd) {
      margin-right: 0.5rem; } }

@media screen and (min-width: 1024px) {
  #menu {
    margin-top: 0; }
  .menu-view {
    display: none; }
  .lista-categoria {
    display: block;
    margin-top: 0; }
    .lista-categoria li ~ li {
      margin-bottom: 0.625rem; }
  .card-evento {
    width: calc(33% - 5px); }
    .card-evento:nth-child(even) {
      margin-left: 0; }
    .card-evento:nth-child(odd) {
      margin-right: 0; }
    .card-evento:nth-child(3n+2) {
      margin-left: 0.5rem;
      margin-right: 0.5rem; } }

@media screen and (min-width: 1280px) {
  .card-evento {
    width: calc(25% - 6px); }
    .card-evento:nth-child(3n+2) {
      margin-left: 0;
      margin-right: 0; }
    .card-evento:nth-child(4n+2) {
      margin-left: 0.5rem; }
    .card-evento:nth-child(4n+3) {
      margin-left: 0.5rem;
      margin-right: 0.5rem; } }
