@import '_rem'

$cor-primaria: #00aeef
$cor-secundaria: #ffb400

body
  padding-top: 1em
  background-image: url('../img/bg.jpg')
  font-family: 'Open Sans', sans-serif;

h1, .h1
    font-size: 2.1rem    

section, .section
  margin-top: 1em
  margin-bottom: 1em

.btn-primary
  color: white

  background: $cor-primaria
  border-color: $cor-primaria

  &:hover
    background-color: rgba($cor-primaria,.3)
    color: $cor-primaria
    border-color: $cor-primaria

.btn-outline-primary
  color: $cor-primaria
  border-color: $cor-primaria

  &:hover
    background-color: #ccc
    color: $cor-primaria
    border-color: $cor-primaria

  &:not(:disabled):not(.disabled):active
    background-color: darken(#ccc,10%)
    color: $cor-primaria

.btn-secondary
  color: white

  background: $cor-secundaria
  border-color: $cor-secundaria

  &:hover
    background-color: rgba($cor-secundaria,.2)
    color: $cor-secundaria
    border-color: $cor-secundaria

.btn-light
  background: white
  border-color: white

  &:hover
    background: rgba(white,.5)
    border-color: white


.slick-dotted.slick-slider
  margin-bottom: 0

.slick-wrap
  overflow-x: hidden

.slick-prev
  left: 10px

.slick-next
  right: 10px

.slick-prev, .slick-next
  z-index: 9999

.slick-dots
  bottom: 10px
  z-index: 999

#menu, #slider
  margin: 3em 0

.menu-view
  padding: 0

  &-btn
    width: 100%
    font-weight: bold
    svg
      vertical-align: text-bottom;
      fill: white;
      width: rem(22px)

.lista-categoria
  padding-left: 0
  margin: 0
  display: none
  margin-top: rem(10px)
  li
    display: inline-block
    margin: 0 0 1em
    color: yellow

    & ~ li
      margin-left: rem(5px)
  a
    font-size: rem(16px)
    font-weight: bold
    text-transform: uppercase

.search-row
  display: none
  margin-top: rem(10px)

.abre-busca
  svg
    width: rem(20px)
    vertical-align: sub

.searchform
  background: $cor-secundaria
  border-radius: .25rem

  padding: .5rem;

  display: flex
  justify-content: center

  .input-busca
    width: 80%

  #searchsubmit
    font-weight: bold
    margin-left: .5rem

.eventos-wrap
  flex-wrap: wrap
  justify-content: flex-start

.card-evento
  background: white
  border-radius: rem(8px)
  margin-bottom: 1rem
  border: 2px solid white // reforçar a borda nos cantos arredondados

  .card-header
    padding: 0
    overflow: hidden
    border-radius: rem(8px)
    position: relative

    &:before
      position: absolute
      content: ""
      width: 100%
      height: 100%
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

  .evento-data-local
    position: absolute
    bottom: 0

    padding: 0.3rem 0.5rem

    .h1, p
      margin-bottom: 0

  .evento-title
    color: white

    font-weight: 700
    font-style: italic
    font-size: 1.7rem
    
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

  .texto-comum
    color: white
    font-size: rem(17px)

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

  .evento-thumb
    width: 100%
    height: (6 / 9) * 100%
    border: 1px solid white  

  .cta-evento
    padding: .5em .1em .1rem
    justify-content: space-around
    > .btn
      padding: .375rem
      white-space: initial
      margin-bottom: 0.4rem
      display: block

  .card-footer
    background: transparent
    border: 0
    padding: 0 .5rem .5rem
    position: relative

    .link-tag
      list-style-type: none
      padding-inline-start: 0
      margin-bottom: 0
      overflow-x: scroll

      &:after
        content: "";
        position: absolute;
        width: 25px;
        height: 30px;
        top: 0;
        right: 0;
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffffff',GradientType=1 ); /* IE6-9 */

      &::-webkit-scrollbar 
        display: none

      li
        display: inline
        white-space: pre

      li ~ li:before
        content: "•"
        margin: 0 .2rem

    .link-tag-item
      color: black
      text-decoration: underline
      font-weight: 600



.btn-nav--wrap
  display: flex;
  width: 100%;
  justify-content: space-between;

  .btn-nav
   font-weight: 700

.nav-previous, .nav-next
  a
    svg
      fill: white
      width: rem(20px)
      vertical-align: middle

footer
  background-color: rgba(25, 27, 29, 0.5)
  padding-top: rem(15px)
  padding-bottom: rem(15px)
  p
    color: white
    margin: 0

@media screen and (min-width: 728px) 

  h1,.h1
    font-size: 2.5rem

  .lista-categoria
    li
      margin: 0 .2em
  
  .eventos-wrap
    padding: 0

  .card-evento
    width: calc(50% - 8px)

    &:nth-child(even)
      margin-left: 0.5rem;
    
    &:nth-child(odd)
      margin-right: 0.5rem;

@media screen and (min-width: 1024px)
  #menu
    margin-top: 0

  .menu-view
    display: none

  .lista-categoria
    display: block
    margin-top: 0

    li ~ li
      margin-bottom: rem(10px)

  .card-evento
    width: calc(33% - 5px)

    &:nth-child(even)
      margin-left: 0;
    
    &:nth-child(odd)
      margin-right: 0;
    
    &:nth-child(3n+2)
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    
@media screen and (min-width: 1280px)

  .card-evento
    width: calc(25% - 6px)
    
    &:nth-child(3n+2)
      margin-left: 0
      margin-right: 0
    
    &:nth-child(4n+2)
      margin-left: 0.5rem;
      
    &:nth-child(4n+3)
      margin-left: 0.5rem;
      margin-right: 0.5rem;
